* {
  padding: 0;
  margin: 0;
  // cursor: none !important;
  box-sizing: border-box;
  // background-color: black;
}
:root {
  --color-primary: #16c79a;
}
.main-bg {
  background-color: #171717;
}
::selection {
  background-color: var(--color-primary);
  color: white;
}
::placeholder {
  font-family: "Open Sans", sans-serif;
}
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
  background-color: white;
  z-index: 10000;
  transition-duration: 50ms;
}
.tcursor {
  width: 21px;
  height: 21px;
  background-color: #5d5d5d;
  z-index: 9999;
}

@import "slider";
@import "button";
@import "navbar";
@import "pages";
@import "animate";
@import "input";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
